{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>

<div id="content">
    {% block content %}
    
    {% endblock content %}
</div>

{% if messages %}
    {% for message in messages %}
    {{message.tags}} {{message}}
    {% endfor %}
{% endif %}

<div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog
        I have written {%total_posts%} posts so far.
    </p>

    {% if user.is_authenticated %}
    Hi, {{user.username}}!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a href="#" onclick="parentNode.submit();">Log Out</a>
    </form>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log in</a>
    {% endif %}

    <h2>Latest posts</h2>

    {% comment %} подключение конкретно-прикладных шаблонных тегов включающегося тега {% endcomment %}
    {%show_latest_posts 3%}
</div>

    
</body>
</html>