body{
    background: #2c2c2c;
}


main {
    margin-left: 25%; /* 20% + 2.5% padding слева и справа */
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background: #181818;
    padding: 2.5%;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
    aside img{
        width: 50px;
        float: left;

    }

    aside .logo{
        font-size: 30px;
        margin-left: 10px;
        font-weight: bold;
        position: relative;
        top: 5px;
    }

aside h3
{
    margin-top: 50px;
    font-size: 28px;
}


aside ul {
    list-style: none;
}


aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;

}

aside ul a {
    text-decoration: none;
}


aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    display: block;
    margin-top: 20px;
    transform: scale(1.05);
}

main .features{
    float: left;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1{
    font-size: 50px;
    /*padding-left: 100px;*/
}

main .features p{
    margin: 20px auto;
    max-width: 400px;
}

.alert-warning{
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 30%;
    text-align: left;
}

form{
    margin-left: 20%;
    width: 500px;
    margin-top: 50px;
}

.logo
{
    color: #fff;
    text-decoration: none;
}


.news{
    margin-left: 23%;
}

.delete_block{
    margin-left: 16%;
    margin-top: 5%;
}