{% extends 'menu/base.html' %}


{% block title %}
Create
{% endblock %}



{% block content %}

<main role="main" class="inner cover">
<div class="features">

    <h1 class="">Adding a Task</h1>
<form method="POST" class="task-form">
    <input type="text" placeholder="Task Title" class="form-input"><br>
    <input type="text" placeholder="Task Description" class="form-input"><br>
    <input type="date" class="form-input"><br>

    <div class="form-radio-group">
        <label><input type="radio" name="priority" value="low"> Low</label>
        <label><input type="radio" name="priority" value="medium"> Medium</label>
        <label><input type="radio" name="priority" value="high"> High</label>
    </div>

    {% csrf_token %}

    <button class="custom-btn" type="submit">Add Task</button><br>
  </form>


</div>
 </main>

{% endblock %}