{% extends 'menu/base.html' %}


{% block title %}
Create
{% endblock %}



{% block content %}

<main role="main" class="inner cover mainframe">
<div class="features">




<h1 class="">Adding a Task</h1>
<form method="POST" class="task-form">


    {{form.title}}
    {{form.description}}
    {{form.deadline}}

<div class="form-radio-group-wrapper">
    {% for radio in form.priority %}
        <label class="form-radio-option">
            {{radio.tag}} {{radio.choice_label}}
        </label>
    {% endfor %}
 </div>


      <div class="form-check-wrapper">
        <label class="form-check-label">
            {{ form.is_done }} <span>Task completed</span>
        </label>
    </div>

    {% csrf_token %}

    <button class="custom-btn" type="submit">Add Task</button><br>
  </form>


</div>
 </main>

{% endblock %}